#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	install -Dpm 755 -d debian/tmp/usr/bin
	install -Dpm 755 -d debian/tmp/usr/lib/node_modules
	cp -rfT node_modules debian/tmp/usr/lib/node_modules
	pushd debian/tmp/usr/bin && \
		ln -fs /usr/lib/node_modules/eslint/bin/eslint.js eslint && \
		popd
	chmod a+x debian/tmp/usr/lib/node_modules/eslint/bin/eslint.js
	fdupes -qnrps debian/tmp/usr/lib/node_modules

override_dh_fixperms:
	dh_fixperms
	chmod a+x debian/eslint/usr/lib/node_modules/eslint/bin/eslint.js

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
